/*Import de fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Tiro+Devanagari+Hindi:ital@1&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Tiro Devanagari Hindi', serif;;
}
/*Indico a mi grid que tenga sombra*/
.grid_container > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
}

html {
    font-size: 90%;
    height: 100%;
}

body {
    font-size: 1.2rem;
    min-height: 100%;
    background-color: rgba(250, 235, 215, 0.65);
}

/*Defino las areas del grid y sus propiedades*/
.header {
    grid-area: header;
}

.navbar {
    display: flex;
    justify-content: space-around   ;
    grid-area: navbar;
}

.main {
    grid-area: main;
    display: flex;
}

.sidebar {
    grid-area: sidebar;
    padding: 5px;
}
.sidebar-derecho{
  grid-area: sidebar-derecho;
  padding: 5px;
}

.footer {
    background-color: darkgrey;
    grid-area: footer;
}

.iconos {
    font-size: 2rem;
}
/*Diseño del grid, por defecto toma dispositivos*/
.grid_container { 
    display: grid;
    gap: 10px;
    text-align: center;
    grid-template:
    "header" 180px
    "navbar" 50px
    "sidebar-derecho" auto 
    "main" auto
    "sidebar" auto 
    "footer" 100px;
}
.item_menu{
  width: auto;
  height: auto;
}
.grid_menu{
  display: flex;
  width: 100%;
  gap: 40px;
  text-align: center;
  align-items: center;
  justify-content: space-around;}

/*Diseño de grid para pantallas mas grandes (tablets y otros)*/
@media (min-width: 600px) {
  *{
    font-size: 105%;
  }
  .grid_container {
      grid-template:
      "header header" 180px
      "navbar navbar" 25px
      "sidebar-derecho  main"  500px 
      "sidebar sidebar" auto
      "footer footer" 100px /
      auto  auto ;
  }
}
/*Diseño con el tamaño mas grande, con tres columnas, para escritorio*/
@media (min-width: 900px) {
  *{
    font-size: 105%;
  }
  .grid_container {
      grid-template:
      "header header header" 180px
      "navbar navbar navbar" 25px
      "sidebar-derecho main sidebar"  auto
      "footer footer footer" 100px /
      250px auto  250px ;
  }
}

.menucontainer{
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;

}
.menucontainer > img{
  padding: 2px;
  width: 100px;
  height: 100px;
  gap: 10px;
}
.menucontainer > p {
  padding: 2px;
  display: flex;
  text-align: center;
}
/*Diseño de mi título de página*/
h1{
  display: flex;
  justify-content: center;
  font-family: 'Great Vibes', cursive;
  font-size: 6rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color:rgb(212, 186, 186);
}
/*Coloca imagen de portada*/
  .imagen {
    display: flex;
    background: url(../Imagenes/Portada.jpg) repeat-x;
    height: 180px;
    padding: 0;
  }
  /*Centra el texto de la portada*/
  .textoCentrado {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /*Diseño del navbar*/
  .Nav{
    margin-top: 1px;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
    font-size: 18px;
}
  /*transicion para los botones del navbar*/
.BtnNav{
    transition-property: background-color, color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    -webkit-transition-property: background-color, color;
    -webkit-transition-duration: 1s;
    -o-transition-property: background-color, color;
    -o-transition-duration: 1s;
    background-color: antiquewhite;
    width: 100%;
    text-decoration: none;
}
.BtnNav:hover{
    position: relative;
    transition-property: background-color, color;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition-property: background-color, color;
    -webkit-transition-duration: 1s;
    -o-transition-property: background-color, color;
    -o-transition-duration: 1s;
    background-color:coral;
    color:black;
}
/*diseño del slideshow en el index.html*/
/*Oculta la zona que no quiero que se muestre*/
.presentacion {
  overflow: hidden;
}
  .slidershow{
    display: inline;
    max-width: 500px;
    height: auto;
  }
  .navigation{
    bottom: 20px;
    margin-bottom: 1px;
    display: flex;
    position: relative;
    max-width: 100%;
    height: auto;
    justify-content: center;
  }
  .bar{
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
  }
  .bar:hover{
    background: #fff;
  }
  
  input[name="r"]{
    position: absolute;
    visibility: hidden;
  }
  
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  /*Como este slideshow solo coloca las imagens una al lado de otra se hace esto para pasar a la siguiente*/
  .slide{
    width: 20%;
    transition: 0.6s;
  }
  .slide img{
    max-width: 500%;
    height: 100%;
  }
  
  #r1:checked ~ .s1{
    margin-left: 0;
  }
  #r2:checked ~ .s1{
    margin-left: -20%;
  }
  #r3:checked ~ .s1{
    margin-left: -40%;
  }
  #r4:checked ~ .s1{
    margin-left: -60%;
  }
  #r5:checked ~ .s1{
    margin-left: -80%;
  }
.maps {
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.Destacado{
  width: 100px;
  height: 100px;
}