/*Import de fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Tiro+Devanagari+Hindi:ital@1&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Tiro Devanagari Hindi', serif;;
}
/*Indico a mi grid que tenga sombra*/
.grid_container > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
}

html {
    font-size: 90%;
    height: 100%;
}

body {
    font-size: 1.2rem;
    min-height: 100%;
    background-color: rgba(250, 235, 215, 0.65);
}

/*Defino las areas del grid y sus propiedades*/
.header {
    grid-area: header;
}

.navbar {
    display: flex;
    justify-content: space-around   ;
    grid-area: navbar;
}

.main {
    grid-area: main;
    display: flex;
}

.sidebar {
    grid-area: sidebar;
    padding: 5px;
}
.sidebar-derecho{
  grid-area: sidebar-derecho;
  padding: 5px;
}

.footer {
    background-color: darkgrey;
    grid-area: footer;
}

.iconos {
    font-size: 2rem;
}
/*Diseño del grid, por defecto toma dispositivos*/
.grid_container { 
    display: grid;
    gap: 10px;
    text-align: center;
    grid-template:
    "header" 180px
    "navbar" 50px
    "sidebar-derecho" auto 
    "main" auto
    "sidebar" auto 
    "footer" 100px;
}
.item_menu{
  width: auto;
  height: auto;
}
.grid_menu{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 5px;
  text-align: center;
  align-items: center;
  justify-content: space-around;}

/*Diseño de grid para pantallas mas grandes (tablets y otros)*/
@media (min-width: 600px) {
  *{
    font-size: 105%;
  }
  .grid_container {
    text-align: center;
      grid-template:
      "header header" 180px
      "navbar navbar" 25px
      "sidebar-derecho  main"  auto 
      "sidebar sidebar" auto
      "footer footer" 100px /
      auto  auto ;
  }
}
/*Diseño con el tamaño mas grande, con tres columnas, para escritorio*/
@media (min-width: 900px) {
  *{
    font-size: 105%;
    text-align: center;
  }
  .grid_container {
    text-align: center;
      grid-template:
      "header header header" 180px
      "navbar navbar navbar" 25px
      "sidebar-derecho main sidebar"  auto
      "footer footer footer" 100px /
      250px auto  250px ;
  }
}

.menucontainer{
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;

}
.menucontainer > img{
  padding: 2px;
  width: 100px;
  height: 100px;
  gap: 10px;
}
.menucontainer > p {
  padding: 2px;
  text-align: center;
}
/*Diseño de mi título de página*/
h1{
  display: flex;
  justify-content: center;
  font-family: 'Great Vibes', cursive;
  font-size: 6rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color:rgb(212, 186, 186);
}
/*Coloca imagen de portada*/
  .imagen {
    display: flex;
    background: url(../Imagenes/Portada.jpg) repeat-x;
    height: 180px;
    padding: 0;
  }
  /*Centra el texto de la portada*/
  .textoCentrado {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /*Diseño del navbar*/
  .Nav{
    margin-top: 1px;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
    font-size: 18px;
}
  /*transicion para los botones del navbar*/
.BtnNav{
    transition-property: background-color, color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    -webkit-transition-property: background-color, color;
    -webkit-transition-duration: 1s;
    -o-transition-property: background-color, color;
    -o-transition-duration: 1s;
    background-color: antiquewhite;
    width: 100%;
    text-decoration: none;
}
.BtnNav:hover{
    position: relative;
    transition-property: background-color, color;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition-property: background-color, color;
    -webkit-transition-duration: 1s;
    -o-transition-property: background-color, color;
    -o-transition-duration: 1s;
    background-color:coral;
    color:black;
}
/*diseño del slideshow en el index.html*/
/*Oculta la zona que no quiero que se muestre*/
.presentacion {
  overflow: hidden;
}
  .slidershow{
    display: inline;
    max-width: 500px;
    height: auto;
  }
  /*Diseño de barra de navegacion del slideshow*/
  .navigation{
    bottom: 20px;
    margin-bottom: 1px;
    display: flex;
    position: relative;
    max-width: 100%;
    height: auto;
    justify-content: center;
  }
  /*Objetos que permiten cambiar entre imagenes del slideshow*/
  .bar{
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
  }
  /*Animacion de hover en items de cambio de imagen*/
  .bar:hover{
    background: #fff;
  }
  
  input[name="r"]{
    position: absolute;
    visibility: hidden;
  }
  
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  /*Como este slideshow solo coloca las imagens una al lado de otra se hace esto para pasar a la siguiente*/
  .slide{
    width: 20%;
    transition: 0.6s;
  }
  /*Tamaño de imagen en el slideshow*/
  .slide img{
    max-width: 500%;
    height: 100%;
  }
  
  #r1:checked ~ .s1{
    margin-left: 0;
  }
  #r2:checked ~ .s1{
    margin-left: -20%;
  }
  #r3:checked ~ .s1{
    margin-left: -40%;
  }
  #r4:checked ~ .s1{
    margin-left: -60%;
  }
  #r5:checked ~ .s1{
    margin-left: -80%;
  }
  /*Diseño de los mapas en la hoja de sedes*/
.maps {
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
/*Tamaño de imagenes en el menu y en el sidebar de inicio*/
.Destacado{
  width: 200px;
  height:auto;
}

.container_form {
  margin: auto;
}

:root {
  --cfondo: rgb(207, 211, 212);
  --cnegro: black;
  --ctexto: rgb(14, 81, 88);
  --ctextoDark: rgb(1, 35, 39);
  --cblanco: white;
  --error: rgb(184, 31, 31);
}

[type="checkbox"] {
  display: none;
}

[type="checkbox"]:checked + label::before {
  background: var(--cnegro);
  transition: 0.5s;
  transform: rotate(180deg);
}

[type="checkbox"]:checked + label {
  color: var(--cnegro);
}

/* ---- FORMULARIO ---- */

.form {
  /* border: 3px solid green; */
  border-top: 2px solid var(--cnegro);
  max-width: auto;
  padding: 30px 50px;
  margin: auto;
  margin-top: 10px;
  background: linear-gradient(
    0deg,
    var(--cfondoForm1) 0%,
    var(--cfondoForm2) 50%
  );
}

.form-titulo {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

.form-input {
  margin-bottom: 30px;
}

.form-input label {
  display: block;
  margin-top: 10px;
  font-size: 15px;
  color: var(--ctexto);
}

.form-input input {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid var(--ctexto);
}

.form-input input:focus + label {
  font-weight: bold;
  color: var(--cnegro);
}

.form-termsAndConditions {
  margin-left: 15px;
  position: relative;
  color: var(--ctexto);
  font-size: 13px;
}

.form-termsAndConditions label::before {
  content: "";
  width: 8px;
  height: 8px;
  border: 1px solid var(--cnegro);
  position: absolute;
  left: -14px;
}

.form-boton input {
  background: var(--cnegro);
  color: var(--cblanco);
  padding: 10px 50px;
  font-size: 25px;
  display: block;
  margin: auto;
  margin-top: 40px;
  border: none;
}

.form-boton input:hover {
  background: var(--ctextoDark);
  transition: 0.5s;
}

.mensajeError {
  color: var(--error);
  margin-top: 0px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
}

.mensajeCorrecto {
  text-align: center;
  font-weight: bold;
}